<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Products Bean -->
    <bean id="product" class="com.example.Products">
        <property name="srlNo" value="AL4562"/>
        <property name="prodName" value="Alexa"/>
        <property name="price" value="4999"/>
    </bean>

    <!-- Items Bean -->
    <bean id="item" class="com.example.Items">
        <property name="srlNo" value="SM1452"/>
        <property name="itemName" value="Smart Watch"/>
        <property name="price" value="1299"/>
    </bean>

</beans>
